Repository RylanLabs/rylan-canon-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python, validate-yaml, validate-ansible, validate-workflows, validate-markdown

.pre-commit-config.yaml:

# RylanLabs Canonical Pre-Commit Configuration v2.0.0
# Version: 2.0.0
# Guardian: Bauer (Auditor)
# Ministry: Configuration Management
# Maturity: v2.0.0
# Compliance: Seven Pillars, Hellodeolu v6, T3-ETERNAL
# Purpose: Enable LOCAL GREEN = CI GREEN (Hellodeolu v6)
# Usage:
#   pre-commit install          # Setup hooks (one-time)
#   pre-commit run --all-files  # Manual validation
#   git commit ...              # Automatic on commit

---
default_language_version:
  python: python3.11

repos:
  # ============================================================================
  # LOCAL VALIDATORS (from canon library)
  # ============================================================================

  # Local validators (from rylan-canon-library)
  - repo: local
    hooks:
      - id: validate-python
        name: Python validation (mypy + ruff + bandit)
        entry: bash scripts/validate-python.sh
        language: script
        types: [python]
        pass_filenames: false
        stages: [commit]

      - id: validate-bash
        name: Bash validation (shellcheck + shfmt)
        entry: bash scripts/validate-bash.sh
        language: script
        types: [shell]
        pass_filenames: false
        stages: [commit]

      - id: validate-yaml
        name: YAML validation (yamllint)
        entry: bash scripts/validate-yaml.sh
        language: script
        types: [yaml]
        pass_filenames: false
        stages: [commit]

      - id: validate-ansible
        name: Ansible validation (ansible-lint + syntax)
        entry: bash scripts/validate-ansible.sh
        language: script
        types: [yaml]
        pass_filenames: false
        stages: [commit]
        files: ^ansible/playbook-templates/

      - id: validate-workflows
        name: Workflow validation (yamllint)
        entry: yamllint -d relax
        language: system
        types: [yaml]
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: true
        stages: [commit]

      - id: validate-markdown
        name: Markdown validation (markdownlint-cli)
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]

  # ============================================================================
  # STANDARD PRE-COMMIT HOOKS
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        types: [text]
        stages: [commit]

      - id: end-of-file-fixer
        name: Fix end of file
        types: [text]
        stages: [commit]

      - id: check-yaml
        name: Check YAML syntax
        types: [yaml]
        stages: [commit]

      - id: check-merge-conflict
        name: Check for merge conflicts
        stages: [commit]

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
        stages: [commit]

feat(whitaker): implement detached HEAD protection gate
  .github/workflows/sentinel-loop.yml
  .pre-commit-config.yaml
  canon-manifest.yaml
  common.mk
  docs/README.md
  docs/architecture/TIERED_SATELLITE_QUICK_REFERENCE.md
  docs/dependency-discipline.md
  scripts/auto-migrate.sh
  scripts/find-broad-excepts.sh
  scripts/rotate-audit.sh
  scripts/sentinel-expiry.sh
  scripts/validate-ml5-scorecard.sh
  scripts/validate-sops.sh
  scripts/whitaker-detached-head.sh
  scripts/whitaker_anomaly_detector.py
  templates/pre-commit-config.yaml.template
  templates/pre-commit-hooks/detached-head
Due: validate-python, validate-yaml, validate-workflows, validate-markdown

bauer: finalize phase 2 hardening with beale/whitaker gates
  Makefile
  canon-manifest.yaml
  scripts/auto-migrate.sh
  scripts/sync-canon.sh
  scripts/validate-gitmodules.sh
  scripts/whitaker-scan.sh
Due: validate-yaml

doc/sentinel: finalize phase 3-5 (sentinel, lazarus, documentation)
  .github/workflows/sentinel-sync.yml
  CHANGELOG.md
  README.md
  docs/dependency-discipline.md
  scripts/lazarus-drill.sh
Due: validate-yaml, validate-workflows, validate-markdown

bauer: fix shellcheck SC2016 in sync-canon.sh
  scripts/sync-canon.sh
Due: none

bauer: stage untracked files for naming migration
  .gitmodules
  MESH-MAN.md
  ansible/playbook-templates/adoption-quickstart.md
  docs/README.md
  docs/architecture/tiered-satellite-action-checklist.md
  docs/architecture/tiered-satellite-hierarchy-canonical.md
  docs/architecture/tiered-satellite-hierarchy-executive-summary.md
  docs/architecture/tiered-satellite-master-index.md
  docs/architecture/tiered-satellite-quick-reference.md
  docs/architecture/tiered-satellite-synthesis-analysis.md
  docs/integration-guide.md
  docs/known-gaps.md
  release-checklist-v2.1.0.md
  templates/README-tier-declaration.md
Due: validate-markdown

bauer: initialize kebab-case discipline framework (phase 1-2)
  .pre-commit-config.yaml
  Makefile
  docs/naming-convention.md
  scripts/audit-naming-convention.sh
  scripts/publish-gate.sh
  scripts/rename-to-kebab.sh
  scripts/revert-kebab-migration.sh
  scripts/validate-naming-convention.sh
  scripts/whitaker-scan.sh
Due: validate-yaml, validate-markdown

bauer: force track tasks artifact
  tasks/ORCHESTRATION-ELEVATION.md
Due: validate-markdown

bauer: checkpoint - naming migration partial success
  docs/integration-guide.md
  scripts/validate-naming-convention.sh
  tasks/ORCHESTRATION-ELEVATION.md
  templates/README.md
  templates/contributing-template.md
  templates/readme-template.md
  templates/readme-tier-declaration.md
Due: validate-markdown

bauer: automated naming remediation (kebab-case discipline)
  .github/workflows/canon-validate.yml
  MESH-MAN.md
  canon-manifest.yaml
  scripts/rename-to-kebab.sh
  scripts/validate-naming-convention.sh
Due: validate-yaml, validate-workflows, validate-markdown

bauer: force track orchestration-elevation.md
  tasks/orchestration-elevation.md
Due: validate-markdown

bauer: automated naming remediation (kebab-case discipline)
  CHANGELOG.md
  ansible/ansible-cfg-reference.md
  release-checklist-v2-1-0.md
  scripts/rename-to-kebab.sh
Due: validate-markdown

fix: ci compliance gates - bypass detached head in GH actions and fix gitmodules integrity
  .gitmodules
  scripts/whitaker-scan.sh
Due: none

fix: autonomous ml5 init in CI and correct python version env
  .github/workflows/trinity-ci.yml
  scripts/validate-ml5-scorecard.sh
Due: validate-yaml, validate-workflows

fix: rename remaining snake_case script and stabilize python validation
  requirements.txt
  scripts/validate-python.sh
  scripts/whitaker-anomaly-detector.py
  scripts/whitaker-scan.sh
Due: validate-python

fix: stabilize mypy and bypass rotation backups check in CI
  scripts/validate-rotation-readiness.sh
  scripts/whitaker-anomaly-detector.py
Due: validate-python

fix: exclude whitaker-anomaly-detector from mypy to resolve CI inconsistencies
  pyproject.toml
Due: none

discipline: automated naming remediation (Whitaker-class)
  .github/workflows/trinity-ci.yml
  .pre-commit-config.yaml
  MESH-MAN.md
  Makefile
  canon-manifest.yaml
  common.mk
  docs/api-coverage-discipline.md
  docs/architecture/tiered-satellite-action-checklist.md
  docs/architecture/tiered-satellite-hierarchy-canonical.md
  docs/defense-testing.md
  docs/naming-convention.md
  scripts/audit-naming-convention.sh
  scripts/audit_eternal.py
  scripts/auto-migrate.sh
  scripts/ml5_report_helper.py
  scripts/playbook_structure_linter.py
  scripts/rename-to-kebab.sh
  scripts/rename-to-standard.sh
  scripts/revert-kebab-migration.sh
  scripts/track_endpoint_coverage.py
  scripts/validate-naming-convention.sh
  scripts/whitaker-scan.sh
  scripts/whitaker_anomaly_detector.py
  tests/integration/run-test.sh
Due: validate-python, validate-yaml, validate-workflows, validate-markdown

fix: resolve naming validator bugs and shellcheck compliance
  Makefile
  scripts/audit-naming-convention.sh
  scripts/rename-to-standard.sh
  scripts/validate-naming-convention.sh
Due: none

chore: refine publish-cascade for remote sync and update MESH-MAN metrics
  MESH-MAN.md
  scripts/publish-cascade.sh
Due: validate-markdown

feat: complete Fortress-Velocity Phases 0-3; implementation of v7 autonomous governance
  .github/instructions/RYLANLABS-INSTRUCTION-SET.md
  .github/instructions/instructions.md
  .github/workflows/archive/trinity-ci-workflow.yml.ARCHIVED
  .github/workflows/trinity-ci.yml
  .rylan/baselines/.gitleaks.toml.baseline
  .rylan/baselines/Makefile.baseline
  .rylan/baselines/ansible.cfg.baseline
  .rylan/baselines/canon-manifest.yaml.baseline
  .rylan/baselines/common.mk.baseline
  .rylan/baselines/pyproject.toml.baseline
  .rylan/whitaker-ignore.yml
  CODEOWNERS
  configs/.yamllint
  docs/ci-workflow-guide.md
  docs/eternal-glue.md
  docs/fortress-velocity-policy.md
  docs/integration-guide.md
  scripts/agent-run.sh
  scripts/bauer_parse_audit.py
  scripts/sentinel-expiry.sh
  scripts/validate-ansible.sh
  scripts/validate-bash.sh
  scripts/validate-gitmodules.sh
  scripts/validate-ml5-scorecard.sh
  scripts/validate-naming-convention.sh
  scripts/validate-python.sh
  scripts/validate-rotation-readiness.sh
  scripts/validate-security-posture.sh
  scripts/validate-sops.sh
  scripts/validate-yaml.sh
  scripts/validate.sh
  scripts/whitaker-scan.sh
  validate
Due: validate-python, validate-yaml, validate-workflows, validate-markdown

fix(ci): remediate workflow failures - gitleaks org license, gpg in ci, submodule sync
  .github/workflows/compliance-gate.yml
  .github/workflows/sentinel-loop.yml
  .github/workflows/sentinel-sync.yml
  MESH-MAN.md
Due: validate-yaml, validate-workflows, validate-markdown

fix(ci): remove duplicate YAML separator in canon-validate workflow
  .github/workflows/canon-validate.yml
Due: validate-yaml, validate-workflows

docs(audit): document CI remediation - gitleaks, gpg, submodule, yaml syntax
  .audit/ci-remediation-2026-02-06.md
Due: validate-markdown
