Repository RylanLabs/rylan-canon-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python, validate-yaml, validate-ansible

validate-python:
  name: Python validation (mypy + ruff + bandit)
  entry: bash scripts/validate-python.sh
  language: script
  pass_filenames: false

validate-yaml:
  name: YAML validation (yamllint)
  entry: bash scripts/validate-yaml.sh
  language: script
  pass_filenames: false

validate-ansible:
  name: Ansible validation (ansible-lint + syntax)
  entry: bash scripts/validate-ansible.sh
  language: script
  pass_filenames: false

feat(canon): Add playbook templates for UniFi automation v4.5.2-playbooks
  .audit/phase-3-playbooks/.gitkeep
  ansible/playbook-templates/README.md
  ansible/playbook-templates/backup-controller.yml
  ansible/playbook-templates/manage-firewall-rules.yml
  ansible/playbook-templates/manage-vlans.yml
  ansible/playbook-templates/rollback-firewall.yml
Due: validate-yaml

feat(canon): Add adoption quickstart guide + bootstrap workflow v4.5.2-adoption
  .audit/phase-4-adoption/.gitkeep
  ansible/playbook-templates/ADOPTION_QUICKSTART.md
Due: none

docs(audit): Mark v4.5.2-adoption COMPLETE in extraction log
  .audit/extraction-log/README.md
Due: none

fix(ci): resolve placeholder errors in trinity-ci-workflow.yml
  templates/trinity-ci-template.yml
Due: validate-yaml

fix(ci): Replace Jinja2 syntax with GitHub Actions syntax v4.5.3-ci-green
  .audit/phase-3-ci-fix/ci-fix-log.txt
  .github/workflows/trinity-ci-workflow.yml
Due: validate-yaml

feat(ci): Complete CI fix + pre-commit hooks + gh verification v4.5.3-production-ready
  .audit/phase-3-ci-fix/complete-fix-log.txt
  .github/workflows/canon-validate.yml
  .pre-commit-config.yaml
  docs/pre-commit-setup.md
  scripts/verify-workflows.sh
Due: validate-yaml

fix(ci): Trinity CI/CD remediation + relocation v4.6.0-fix-relocate
  .audit/phase-4-trinity-fix/analysis.txt
  .github/workflows/canon-validate.yml
  .github/workflows/templates/trinity-ci-template.yml
  docs/INTEGRATION_GUIDE.md
Due: validate-yaml

fix(ci): Archive and remove old trinity-ci-workflow.yml
  .github/workflows/archive/trinity-ci-workflow.yml.ARCHIVED
Due: none

docs(audit): Add v4.6.0-fix-relocate comprehensive completion report
  .audit/phase-4-trinity-fix/COMPLETION_REPORT.md
Due: none

Update canon-library to v1.0.0: SemVer, 7-task workflow, 8-phase rotation, VLAN canon @Bauer @Carter
  .audit/phase-4-trinity-fix/COMPLETION_REPORT.md
  .github/workflows/canon-validate.yml
  CHANGELOG.md
  README.md
  RELEASE-CHECKLIST-v1.0.0.md
  RYLANLABS-INSTRUCTION-SET.md
  ansible/playbook-templates/backup-controller.yml
  ansible/playbook-templates/manage-vlans.yml
  docs/INTEGRATION_GUIDE.md
  docs/ci-workflow-guide.md
  docs/extraction-manifest.md
  docs/inventory-discipline.md
  docs/pre-commit-setup.md
  docs/vault-discipline.md
  docs/vlan-discipline.md
  instruction-set.md
  scripts/audit-eternal.py
  scripts/emergency-revoke.sh
  scripts/rotate-ssh-keys.sh
  scripts/rotate-unifi-credentials.sh
  templates/device-manifest-template.yml
  templates/playbook-template.yml
Due: validate-python, validate-yaml

feat(orchestration): establish canonical .agent.md and instructions.md as truth for downstream repos
  .github/agents/.agent.md
  .github/instructions/instructions.md
  canon-manifest.yaml
  scripts/audit-canon.sh
  scripts/sync-canon.sh
Due: validate-yaml

chore(mesh): update whitaker-scan help message for submodule prefix
  scripts/whitaker-scan.sh
Due: none

fix(scripts): robust integer parsing in validate-ml5-scorecard.sh
  scripts/validate-ml5-scorecard.sh
Due: none

fix(scripts): restrict Whitaker drift check to current path
  scripts/validate-ml5-scorecard.sh
Due: none

feat(rylanlabs.unifi): Phase B.3.6 Integration Testing & Whitaker ML7.2
  CHANGELOG.md
  ansible_collections/rylanlabs/unifi
  common.mk
  group_vars/network_scheme.yml
  scripts/whitaker-scan.sh
  scripts/whitaker_anomaly_detector.py
  tests/integration/ansible.cfg
  tests/integration/device-manifest.yml
  tests/integration/mock_unifi.py
  tests/integration/run_test.sh
  tests/integration/test.unifi_inventory.yml
Due: validate-python, validate-yaml

fix: Compliance gate remediation - type annotations and YAML formatting
  .github/workflows/compliance-gate.yml
  .github/workflows/repo-governance.yml
  .github/workflows/sentinel-loop.yml
  .github/workflows/trinity-ci.yml
  .sops.yaml
  canon-manifest.yaml
  group_vars/network_scheme.yml
  inventory/group_vars/all/vault_common.yml
  scripts/ml5-report-helper.py
  scripts/whitaker_anomaly_detector.py
  templates/ml5-scorecard.yml
  tests/integration/device-manifest.yml
Due: validate-python, validate-yaml

fix: Configure bandit and gitleaks exclusions for build artifacts
  .bandit
  configs/gitleaks.toml
  pyproject.toml
  scripts/ml5-report-helper.py
  scripts/validate-python.sh
  scripts/whitaker_anomaly_detector.py
  tests/integration/mock_unifi.py
  tests/unit/test_makefile_targets.py
Due: validate-python

fix: Line length and SOPS validation exclusions
  scripts/validate-sops.sh
Due: none

fix: Proper bandit exclude syntax
  scripts/validate-python.sh
Due: none

fix: Configure ruff to exclude security checks in test files
  pyproject.toml
Due: none

fix: Ruff configuration and linting issues
  pyproject.toml
  scripts/playbook-structure-linter.py
Due: validate-python

fix: Ruff linting issues - per-file ignores and loop variables
  pyproject.toml
  scripts/playbook-structure-linter.py
Due: validate-python

fix: Global ignore for test and subprocess security rules
  pyproject.toml
Due: none

fix: Remove S (bandit) from ruff lint.select
  pyproject.toml
Due: none

fix: Explicitly ignore S-prefixed rules in ruff
  pyproject.toml
Due: none

fix: Update configs pyproject and fix remaining B007 error
  configs/pyproject.toml
  scripts/ml5-report-helper.py
Due: validate-python

fix: Add ShellCheck directives to suppress false positives
  scripts/validate-ml5-scorecard.sh
Due: none

fix: Suppress SC2317 for error_handler trap function
  scripts/validate-ml5-scorecard.sh
Due: none

fix: Fix E501 line length violations in test and script files
  scripts/whitaker_anomaly_detector.py
Due: validate-python

feat: Add root .ruff.toml to override nested config
  .ruff.toml
Due: none

fix: Use explicit .ruff.toml path in validate-python.sh
  scripts/validate-python.sh
Due: none

chore: lint fixes, types, heartbeat & audit signing (mypy, ruff, shellcheck)
  .github/workflows/sentinel-loop.yml
  .rylan/ml5-thresholds.yml
  MESH-MAN.md
  Makefile
  README.md
  common.mk
  docs/KNOWN_GAPS.md
  docs/ansible-discipline.md
  docs/ci-workflow-guide.md
  docs/makefile-reference.md
  requirements.txt
  scripts/generate-mesh-man.sh
  scripts/mesh-heartbeat.sh
  scripts/ml5-report-helper.py
  scripts/playbook-structure-linter.py
  scripts/publish-cascade.sh
  scripts/publish-gate.sh
  scripts/sentinel-expiry.sh
  scripts/sign-all-audit.sh
  scripts/track-endpoint-coverage.py
  scripts/validate-ml5-scorecard.sh
  scripts/whitaker_anomaly_detector.py
  test.mk
  tests/integration/mock_unifi.py
  tests/unit/test_makefile_targets.py
Due: validate-python, validate-yaml

feat(whitaker): implement detached HEAD protection gate
  .github/workflows/sentinel-loop.yml
  .pre-commit-config.yaml
  canon-manifest.yaml
  common.mk
  docs/README.md
  docs/architecture/TIERED_SATELLITE_QUICK_REFERENCE.md
  docs/dependency-discipline.md
  scripts/auto-migrate.sh
  scripts/find-broad-excepts.sh
  scripts/rotate-audit.sh
  scripts/sentinel-expiry.sh
  scripts/validate-ml5-scorecard.sh
  scripts/validate-sops.sh
  scripts/whitaker-detached-head.sh
  scripts/whitaker_anomaly_detector.py
  templates/pre-commit-config.yaml.template
  templates/pre-commit-hooks/detached-head
Due: validate-python, validate-yaml

bauer: finalize phase 2 hardening with beale/whitaker gates
  Makefile
  canon-manifest.yaml
  scripts/auto-migrate.sh
  scripts/sync-canon.sh
  scripts/validate-gitmodules.sh
  scripts/whitaker-scan.sh
Due: validate-yaml

doc/sentinel: finalize phase 3-5 (sentinel, lazarus, documentation)
  .github/workflows/sentinel-sync.yml
  CHANGELOG.md
  README.md
  docs/dependency-discipline.md
  scripts/lazarus-drill.sh
Due: validate-yaml

Path conditions:
  validate-python: any of: \.py$
  validate-yaml: any of: \.(yaml|yml)$
  validate-ansible: any of: ^playbooks/ and \.(yaml|yml)$
