Repository RylanLabs/rylan-canon-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python, validate-yaml, validate-ansible

.pre-commit-config.yaml:

# RylanLabs Canonical Pre-Commit Configuration
# Version: 4.5.2
# Guardian: Bauer (Auditor)
# Ministry: Configuration Management
# Purpose: Enable LOCAL GREEN = CI GREEN (Hellodeolu v6)
# Usage:
#   pre-commit install          # Setup hooks (one-time)
#   pre-commit run --all-files  # Manual validation
#   git commit ...              # Automatic on commit

---
default_language_version:
  python: python3.12

repos:
  # Local validators (from rylan-canon-library)
  - repo: local
    hooks:
      - id: validate-python
        name: Python validation (mypy + ruff + bandit)
        entry: bash scripts/validate-python.sh
        language: script
        types: [python]
        pass_filenames: false

      - id: validate-bash
        name: Bash validation (shellcheck + shfmt)
        entry: bash scripts/validate-bash.sh
        language: script
        types: [shell]
        pass_filenames: false

      - id: validate-yaml
        name: YAML validation (yamllint)
        entry: bash scripts/validate-yaml.sh
        language: script
        types: [yaml]
        pass_filenames: false

      - id: validate-ansible
        name: Ansible validation (ansible-lint + syntax)
        entry: bash scripts/validate-ansible.sh
        language: script
        types: [yaml]
        pass_filenames: false
        # Only run if playbooks/ directory exists
        files: ^playbooks/

  # Standard pre-commit hooks (optional but recommended)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace

      - id: end-of-file-fixer
        name: Fix end of file

      - id: check-yaml
        name: Check YAML syntax (standard)

      - id: check-merge-conflict
        name: Check for merge conflicts

      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

bauer: fix shellcheck SC2016 in sync-canon.sh
  scripts/sync-canon.sh
Due: none

bauer: initialize kebab-case discipline framework (phase 1-2)
  .pre-commit-config.yaml
  Makefile
  docs/naming-convention.md
  scripts/audit-naming-convention.sh
  scripts/publish-gate.sh
  scripts/rename-to-kebab.sh
  scripts/revert-kebab-migration.sh
  scripts/validate-naming-convention.sh
  scripts/whitaker-scan.sh
Due: validate-yaml

bauer: stage untracked files for naming migration
  .gitmodules
  MESH-MAN.md
  ansible/playbook-templates/adoption-quickstart.md
  docs/README.md
  docs/architecture/tiered-satellite-action-checklist.md
  docs/architecture/tiered-satellite-hierarchy-canonical.md
  docs/architecture/tiered-satellite-hierarchy-executive-summary.md
  docs/architecture/tiered-satellite-master-index.md
  docs/architecture/tiered-satellite-quick-reference.md
  docs/architecture/tiered-satellite-synthesis-analysis.md
  docs/integration-guide.md
  docs/known-gaps.md
  release-checklist-v2.1.0.md
  templates/README-tier-declaration.md
Due: none

bauer: force track tasks artifact
  tasks/ORCHESTRATION-ELEVATION.md
Due: none

bauer: checkpoint - naming migration partial success
  docs/integration-guide.md
  scripts/validate-naming-convention.sh
  tasks/ORCHESTRATION-ELEVATION.md
  templates/README.md
  templates/contributing-template.md
  templates/readme-template.md
  templates/readme-tier-declaration.md
Due: none

bauer: force track orchestration-elevation.md
  tasks/orchestration-elevation.md
Due: none

bauer: automated naming remediation (kebab-case discipline)
  CHANGELOG.md
  ansible/ansible-cfg-reference.md
  release-checklist-v2-1-0.md
  scripts/rename-to-kebab.sh
Due: none

bauer: automated naming remediation (kebab-case discipline)
  .github/workflows/canon-validate.yml
  MESH-MAN.md
  canon-manifest.yaml
  scripts/rename-to-kebab.sh
  scripts/validate-naming-convention.sh
Due: validate-yaml

fix: ci compliance gates - bypass detached head in GH actions and fix gitmodules integrity
  .gitmodules
  scripts/whitaker-scan.sh
Due: none

fix: autonomous ml5 init in CI and correct python version env
  .github/workflows/trinity-ci.yml
  scripts/validate-ml5-scorecard.sh
Due: validate-yaml

fix: rename remaining snake_case script and stabilize python validation
  requirements.txt
  scripts/validate-python.sh
  scripts/whitaker-anomaly-detector.py
  scripts/whitaker-scan.sh
Due: validate-python

fix: stabilize mypy and bypass rotation backups check in CI
  scripts/validate-rotation-readiness.sh
  scripts/whitaker-anomaly-detector.py
Due: validate-python

fix: exclude whitaker-anomaly-detector from mypy to resolve CI inconsistencies
  pyproject.toml
Due: none

Update canon-library to v1.0.0: SemVer, 7-task workflow, 8-phase rotation, VLAN canon @Bauer @Carter
  .audit/phase-4-trinity-fix/COMPLETION_REPORT.md
  .github/workflows/canon-validate.yml
  CHANGELOG.md
  README.md
  RELEASE-CHECKLIST-v1.0.0.md
  RYLANLABS-INSTRUCTION-SET.md
  ansible/playbook-templates/backup-controller.yml
  ansible/playbook-templates/manage-vlans.yml
  docs/INTEGRATION_GUIDE.md
  docs/ci-workflow-guide.md
  docs/extraction-manifest.md
  docs/inventory-discipline.md
  docs/pre-commit-setup.md
  docs/vault-discipline.md
  docs/vlan-discipline.md
  instruction-set.md
  scripts/audit-eternal.py
  scripts/emergency-revoke.sh
  scripts/rotate-ssh-keys.sh
  scripts/rotate-unifi-credentials.sh
  templates/device-manifest-template.yml
  templates/playbook-template.yml
Due: validate-python, validate-yaml

feat(orchestration): establish canonical .agent.md and instructions.md as truth for downstream repos
  .github/agents/.agent.md
  .github/instructions/instructions.md
  canon-manifest.yaml
  scripts/audit-canon.sh
  scripts/sync-canon.sh
Due: validate-yaml

chore(mesh): update whitaker-scan help message for submodule prefix
  scripts/whitaker-scan.sh
Due: none

fix(scripts): robust integer parsing in validate-ml5-scorecard.sh
  scripts/validate-ml5-scorecard.sh
Due: none

fix(scripts): restrict Whitaker drift check to current path
  scripts/validate-ml5-scorecard.sh
Due: none

fix: Compliance gate remediation - type annotations and YAML formatting
  .github/workflows/compliance-gate.yml
  .github/workflows/repo-governance.yml
  .github/workflows/sentinel-loop.yml
  .github/workflows/trinity-ci.yml
  .sops.yaml
  canon-manifest.yaml
  group_vars/network_scheme.yml
  inventory/group_vars/all/vault_common.yml
  scripts/ml5-report-helper.py
  scripts/whitaker_anomaly_detector.py
  templates/ml5-scorecard.yml
  tests/integration/device-manifest.yml
Due: validate-python, validate-yaml

feat(rylanlabs.unifi): Phase B.3.6 Integration Testing & Whitaker ML7.2
  CHANGELOG.md
  ansible_collections/rylanlabs/unifi
  common.mk
  group_vars/network_scheme.yml
  scripts/whitaker-scan.sh
  scripts/whitaker_anomaly_detector.py
  tests/integration/ansible.cfg
  tests/integration/device-manifest.yml
  tests/integration/mock_unifi.py
  tests/integration/run_test.sh
  tests/integration/test.unifi_inventory.yml
Due: validate-python, validate-yaml

fix: Configure bandit and gitleaks exclusions for build artifacts
  .bandit
  configs/gitleaks.toml
  pyproject.toml
  scripts/ml5-report-helper.py
  scripts/validate-python.sh
  scripts/whitaker_anomaly_detector.py
  tests/integration/mock_unifi.py
  tests/unit/test_makefile_targets.py
Due: validate-python

fix: Line length and SOPS validation exclusions
  scripts/validate-sops.sh
Due: none

fix: Configure ruff to exclude security checks in test files
  pyproject.toml
Due: none

fix: Proper bandit exclude syntax
  scripts/validate-python.sh
Due: none

fix: Ruff configuration and linting issues
  pyproject.toml
  scripts/playbook-structure-linter.py
Due: validate-python

fix: Ruff linting issues - per-file ignores and loop variables
  pyproject.toml
  scripts/playbook-structure-linter.py
Due: validate-python

fix: Global ignore for test and subprocess security rules
  pyproject.toml
Due: none

fix: Remove S (bandit) from ruff lint.select
  pyproject.toml
Due: none

fix: Explicitly ignore S-prefixed rules in ruff
  pyproject.toml
Due: none

fix: Update configs pyproject and fix remaining B007 error
  configs/pyproject.toml
  scripts/ml5-report-helper.py
Due: validate-python

fix: Add ShellCheck directives to suppress false positives
  scripts/validate-ml5-scorecard.sh
Due: none

fix: Suppress SC2317 for error_handler trap function
  scripts/validate-ml5-scorecard.sh
Due: none

fix: Fix E501 line length violations in test and script files
  scripts/whitaker_anomaly_detector.py
Due: validate-python

feat: Add root .ruff.toml to override nested config
  .ruff.toml
Due: none

fix: Use explicit .ruff.toml path in validate-python.sh
  scripts/validate-python.sh
Due: none

chore: lint fixes, types, heartbeat & audit signing (mypy, ruff, shellcheck)
  .github/workflows/sentinel-loop.yml
  .rylan/ml5-thresholds.yml
  MESH-MAN.md
  Makefile
  README.md
  common.mk
  docs/KNOWN_GAPS.md
  docs/ansible-discipline.md
  docs/ci-workflow-guide.md
  docs/makefile-reference.md
  requirements.txt
  scripts/generate-mesh-man.sh
  scripts/mesh-heartbeat.sh
  scripts/ml5-report-helper.py
  scripts/playbook-structure-linter.py
  scripts/publish-cascade.sh
  scripts/publish-gate.sh
  scripts/sentinel-expiry.sh
  scripts/sign-all-audit.sh
  scripts/track-endpoint-coverage.py
  scripts/validate-ml5-scorecard.sh
  scripts/whitaker_anomaly_detector.py
  test.mk
  tests/integration/mock_unifi.py
  tests/unit/test_makefile_targets.py
Due: validate-python, validate-yaml
